body {
  background: #fff9f9;
}

h1 {
  text-align: center;
}

img {
  width: 50%;
  margin: 0 auto;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.btn-primary {
  color: white;
  background-color: blue;
  border-color: darkblue;
}

.btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 6px 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

a {
  cursor: pointer;
}
